.editorconfig
.env
.gitignore
.mailmap
.npmignore
.prettierignore
.prettierrc.json
.shellcheckrc
.sql-lint.json

CHANGELOG.md
commitlint.config.mjs
cspell.json
LICENSE.txt
package.json
package-lock.json
README.md

.git
.github
.husky

node_modules/
scripts
