#####################################################################
#                                                                   #
# Script:  .gitignore                                               #
#                                                                   #
# Purpose: A list of files and dirs to be ignored by git.           #
#                                                                   #
# Date:    11th May 2025                                            #
#                                                                   #
# Author:  datr.tech admin <admin@datr.tech>                        #
#                                                                   #
#####################################################################

#
# File extensions to be ignored
#
.DS_Store
.env
.err
.gz
.log
.pid
.out
.rds

#
# Dirs to be ignored
#
.idea/
node_modules/
