.editorconfig
.gitignore
.mailmap
.npmignore
.prettierignore
.prettierrc.json
.shellcheckrc
.sql-lint.json

CHANGELOG.md
commitlint.config.js
cspell.json
LICENSE.txt

.git
.github
.husky

node_modules/
