/*
 * @script		 0000_define_user_variables.sh
 *
 * @created    10th May 2025
 * @author     Datr.Tech Admin <admin@datr.tech>
 */
SET @user_admin_name = "";
SET @user_admin_pass = "";
SET @user_datr_tech_name = "";
SET @user_datr_tech_pass = "";
SET @user_dovecot_name = "";
SET @user_dovecot_pass = "";
SET @user_exim_name = "";
SET @user_exim_pass = "";
